﻿@using Presentation.ViewModels
@model LoginVM

<div class="row">
    <div class="col-md-offset-4 col-md-4 login">
        @if (ViewBag.LoginMessage != "")
        {
            <p>@ViewBag.LoginMessage</p>

        }
        @if (ViewBag.LoginFailed != "")
        {
            <p>@ViewBag.LoginFailed</p>

        }

        @using (Ajax.BeginForm("Login", "Account", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "app", InsertionMode = InsertionMode.Replace }))
        {

            <div class="form-group">
                <label>Username</label>
                @Html.TextBoxFor(x => x.UserName, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.UserName)
            </div>

            <div class="form-group">
                <label>Password</label>
                @Html.PasswordFor(x => x.Password, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.Password)

            </div>
            <input type="submit" class="btn btn-primary pull-right" value="Login">

        }
    </div>
</div>