﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.login .form-control {
    max-width: 100%;
    width: 100%;
}

#main {
    margin-top: 80px;
}

    #main .form-control {
        margin-bottom: 10px;
    }

    #main a.btn,
    #main input[type="submit"].btn {
        vertical-align: top;
    }

    
