﻿@model List<Presentation.Identity.IdentityUser>

<div class="col-md-12">


    @using (Ajax.BeginForm("Index", "Users", null, new AjaxOptions() { HttpMethod = "GET", InsertionMode = InsertionMode.Replace, UpdateTargetId = "main" }, new { @class = "form form-horizontal" }))
    {
        <input type="hidden" name="page" value="1" />
        <input type="hidden" name="count" value="5" />
        <input type="text" name="filter" class="form-control" />
        <input type="submit" value="Search" class="btn btn-primary" />
    }



    <table class="table table-bordered">
        <thead>
            <tr>
                <td>Username</td>
                <td>Age</td>
                <td>Email</td>
                <td>Blogs</td>
            </tr>
        </thead>
        @foreach (Presentation.Identity.IdentityUser item in Model)
        {
            <tr>
                <td>@item.UserName</td>
                <td>@item.Age.ToString()</td>
                <td>@item.Email</td>
                <td>
                    @if (item.BlogCount != null)
                    {
                        @item.BlogCount.ToString();
                    }
                    else
                    {
                        0.ToString();
                    }

                </td>
                <td>


                    @Ajax.ActionLink("View", "Profile", "Users", new { userId = item.Id }, new AjaxOptions()
                    {
                        HttpMethod = "GET",
                        InsertionMode = InsertionMode.Replace,
                        UpdateTargetId = "main"
                    })
                </td>
            </tr>
        }
    </table>

</div>