﻿@model Presentation.Identity.IdentityUser
<div class="col-md-12">
    <h3>@Model.UserName</h3>

    <div class="panel panel-default">
        <div class="panel-heading">User details</div>
        <div class="panel-body">
            <div class="form-inline">

                @Html.TextBoxFor(x => x.FirstName, new { @readonly = "readonly", @class = "form-control" })
                @Html.TextBoxFor(x => x.LastName, new { @readonly = "readonly", @class = "form-control" })

            </div>
        </div>
    </div>
</div>

@Html.Action("Index","Blog",new {page=1, size=5, userId = Model.Id, dateFrom = DateTime.MinValue, dateTo = DateTime.Now })