﻿
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">


            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#">
                        <span class="glyphicon glyphicon-user"></span>
                        <strong>
                            Hey
                            @if (User.Identity.Name != "")
                            {

                                @User.Identity.Name
                            }
                            else
                            {
                                @ViewBag.UserName
                            }
                            ! - Logout
                        </strong>

                    </a>
                </li>
            </ul>

        </div>
    </div>
</div>
<div class="row">
    <div id="main">
        @Html.Action("Index", "Users", new { page = 1, count = 5, filter = "" })
    </div>
</div>
