﻿@using Model.Models
@using PagedList.Mvc
@model  PagedList.IPagedList<Blog>
@{
    ViewBag.Page = "Index";
}
<div class="col-md-12">
    <div class="form-inline">



        @using (Ajax.BeginForm("GetBlogs", "Blog", null, new AjaxOptions()
        {
            HttpMethod = "GET",
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "blogs",


        }, new { @class = "form form-horizontal" }))
        {

            @Ajax.ActionLink("Create a new Blog", "", null, new AjaxOptions() { }, new { @class = "btn btn-success" })
            <input type="hidden" name="page" value="1" />
            <input type="hidden" name="size" value="5" />
            <input type="hidden" name="userId" value="@Model[0].UserId" />
            @Html.TextBox("dateFrom", null, new { @class = "form-control", @type = "date" })
            @Html.TextBox("dateTo", null, new { @class = "form-control", @type = "date" })
            @Html.TextBox("filter", null, new { @class = "form-control" })

            <input type="submit" class="btn btn-primary" />
        }


    </div>

    <div id="blogs">
        @Html.Partial("List", Model);

    </div>



</div>