﻿@using Model.Models
@using PagedList.Mvc
@model  PagedList.IPagedList<Blog>
<table class="table table-bordered">
    <thead>
        <tr>
            <td>Title</td>
            <td>Summary</td>
            <td>Publishing date</td>
        </tr>
    </thead>
    @foreach (Blog item in Model)
    {
        <tr>
            <td>@item.Title</td>
            <td>@item.Summary</td>
            <td>@item.PublishDate.ToString("H:mm dd MMM yyyy")</td>

        </tr>
    }
</table>
@Html.PagedListPager(Model, page => Url.Action("GetBlogs", new { page, size = 5, userId = Model[0].UserId, dateFrom = ViewBag.dateFrom, dateTo = ViewBag.dateTo, filter = ViewBag.Filter }),
                                        PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions() { HttpMethod = "GET", InsertionMode = InsertionMode.Replace, UpdateTargetId = "blogs" }))
